:root {
  font-size: 20px; }

@media (min-width: 320px) and (max-width: 1280px) {
  :root {
    font-size: -webkit-calc( 20px + (28 - 20) * ( (100vw - 320px) / ( 1280 - 320)));
    font-size: calc( 20px + (28 - 20) * ( (100vw - 320px) / ( 1280 - 320))); } }

@media (min-width: 1280px) {
  :root {
    font-size: 28px; } }

@font-face {
  font-family: 'Chunk Five Print';
  src: url("../assets/fonts/chunk-five.eot");
  src: url("../assets/fonts/chunk-five.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/chunk-five.woff2") format("woff2"), url("../assets/fonts/chunk-five.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTZhiHeiJ';
  src: url("../assets/fonts/TTZhiHeiJ-W5.eot");
  src: url("../assets/fonts/TTZhiHeiJ-W5.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTZhiHeiJ-W5.woff2") format("woff2"), url("../assets/fonts/TTZhiHeiJ-W5.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gentium Basic';
  src: url("../assets/fonts/genbasr.eot");
  src: url("../assets/fonts/genbasr.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/genbasr.woff2") format("woff2"), url("../assets/fonts/genbasr.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gentium Basic';
  src: url("../assets/fonts/genbasb.eot");
  src: url("../assets/fonts/genbasb.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/genbasb.woff2") format("woff2"), url("../assets/fonts/genbasb.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gentium Basic';
  src: url("../assets/fonts/genbasi.eot");
  src: url("../assets/fonts/genbasi.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/genbasi.woff2") format("woff2"), url("../assets/fonts/genbasi.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

main,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-family: "Gentium Basic", "PingFang SC", "Hei", "Microsoft YaHei", sans-serif; }

section {
  padding: 1em 0; }

h2 {
  font-size: 130%; }

p {
  line-height: 1.5; }

.lang-zh h2 {
  margin-left: 0.5em;
  letter-spacing: 0.0625em; }

.lang-zh p {
  letter-spacing: 0.125em; }

.lang-en h2 {
  margin-bottom: 0.5em; }

.c-header {
  background-image: url("../assets/img/header.jpg");
  background-size: cover;
  background-position: center;
  padding: 2em 0; }

.c-title {
  text-align: center;
  color: white; }

.c-title__en,
.c-title__zh {
  font-family: "Chunk Five Print", "Copperplate", "TTZhiHeiJ", "Hei", "Microsoft YaHei", serif;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.25em; }

.c-title__en {
  font-size: -webkit-calc(1.5em + 3vw);
  font-size: calc(1.5em + 3vw);
  text-align: right; }

.c-title__zh {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: -webkit-calc(1em + 2vw);
  font-size: calc(1em + 2vw); }

.c-content {
  text-align: center; }

input[name="language"] {
  float: left;
  opacity: 0;
  position: absolute; }
  input[name="language"] ~ label {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f1ee), to(#fff));
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(to bottom, #f4f1ee, #fff);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3), inset 0 4px 1px 1px white, inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5);
            box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3), inset 0 4px 1px 1px white, inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5);
    display: inline-block;
    vertical-align: middle;
    width: 3em;
    height: 3em;
    padding: 0.5em;
    font-size: 75%;
    -webkit-transition: background 0.1s linear, -webkit-box-shadow 0.1s linear;
    transition: background 0.1s linear, -webkit-box-shadow 0.1s linear;
    transition: background 0.1s linear, box-shadow 0.1s linear;
    transition: background 0.1s linear, box-shadow 0.1s linear, -webkit-box-shadow 0.1s linear;
    margin: 1em; }

.lang-toggle__en,
.lang-toggle__zh {
  line-height: 3em; }

.lang-toggle__zh {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  height: 3em; }

#lang-en:checked ~ label[for="lang-en"],
#lang-zh:checked ~ label[for="lang-zh"] {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efedec), to(#f7f4f4));
  background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
  background-image: linear-gradient(to bottom, #efedec, #f7f4f4);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5); }

#lang-en:checked ~ .lang-en,
#lang-zh:checked ~ .lang-zh {
  display: block; }

.lang-en,
.lang-zh {
  display: none;
  padding-top: 0.5em;
  max-width: 35em;
  margin: 0 auto; }

.lang-zh {
  text-align: justify;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  max-height: 13em;
  max-width: 100%;
  overflow-x: auto; }
  @media all and (max-width: 44.9375em) {
    .lang-zh {
      max-height: 50vh; } }

.c-stories {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  width: 100%;
  max-width: 35em;
  margin: 0 auto; }
  .c-stories ul::after {
    content: '';
    display: block;
    background-image: url("/assets/img/test.png"); }

.c-resources {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  width: 100%;
  max-width: 35em;
  margin: 0 auto; }

.c-links {
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.c-link {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc((100% / 4) - 0.5em);
      -ms-flex: 0 0 calc((100% / 4) - 0.5em);
          flex: 0 0 calc((100% / 4) - 0.5em);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
  padding: 2em 0;
  margin: 0 0.25em 0.5em;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
  position: relative; }
  .c-link:nth-child(even) {
    -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
            transform: rotate(2deg); }
  .c-link:nth-child(3n) {
    -webkit-transform: translateY(0.5em);
        -ms-transform: translateY(0.5em);
            transform: translateY(0.5em); }
  .c-link:nth-child(5n) {
    -webkit-transform: rotate(4deg) translateX(-0.5em);
        -ms-transform: rotate(4deg) translateX(-0.5em);
            transform: rotate(4deg) translateX(-0.5em); }

.c-link__tag {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em; }

.u-rotate {
  display: inline-block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
