<div class="l-contact c-contact" id="contact">

  <form class="l-contact__form c-contact__form" action="https://formspree.io/penang-hokkien@outlook.com"
      method="POST">
      <a href="#contact:target" class="l-contact__close">&times;</a>
      <p>If you have a story about Penang Hokkien you want to share, or if you just want to say hi, send in a message!</p>
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
      <label for="email">Email</label>
      <input type="email" name="_replyto" id="email">
      <label for="message">Message</label>
      <textarea name="message" id="message"></textarea>
      <input type="submit" value="Send">
  </form>
</div>
