<form class="c-newsletter" action="https://tinyletter.com/penang-hokkien" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/penang-hokkien', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p>Subscribe for PGHK stories in your inbox</p>
    <div>
      <span class="input">
        <input class="input__field" type="email" id="tlemail" required placeholder="Email address" />
        <label class="input__label" for="tlemail">
          <span class="input__label-content">Email address</span>
        </label>
      </span>
      <input type="hidden" value="1" name="embed"/>
      <input type="submit" value="Subscribe" />
    </div>
    <a href="https://tinyletter.com" target="_blank" rel="noopener noreferrer"><small><span>Powered by </span><img src="{{ "/assets/img/tinyletter.svg" | prepend: site.baseurl }}" alt="Tinyletter"></small></a>
</form>
