// Newsletter subscription
.c-newsletter {
  padding: 1em 0;
  text-align: center;
  font-size: 75%;
  background: linear-gradient(135deg, transparent 22px, rgba(color(accent), 0.3) 22px, rgba(color(accent), 0.3) 24px, transparent 24px, transparent 67px, rgba(color(accent), 0.3) 67px, rgba(color(accent), 0.3) 69px, transparent 69px), linear-gradient(225deg, transparent 22px, rgba(color(accent), 0.3) 22px, rgba(color(accent), 0.3) 24px, transparent 24px, transparent 67px, rgba(color(accent), 0.3) 67px, rgba(color(accent), 0.3) 69px, transparent 69px)0 64px;
  background-color: rgba(color(accent), 0.2);
  background-size: 64px 128px;
  height: 6em;

  a {
    display: inline-block;
  }

  a:hover img {
    transform: scale(1.2);
  }

  span {
    vertical-align: middle;
  }

  img {
    height: 1em;
    width: 1em;
    transition: transform 0.2s ease-out;
    vertical-align: middle;
  }
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0.5em 0.5em 1em;
  max-width: 12em;
  width: calc(100% - 2em);
}

.input__field {
  width: 100%;
  background: transparent;
  padding: 0.5em 0;
  position: relative;
  display: block;
  float: right;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;

  &:focus {
    outline: 0;
  }
}

.input__label {
  width: 100%;
  position: absolute;
  text-align: left;
  padding: 0.5em 0;
  pointer-events: none;
  display: inline-block;
  float: right;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.25em;
    background: color(shadow);
    left: 0;
    top: 100%;
    transform-origin: 50% 100%;
    transition: transform 0.3s, background-color 0.3s;
  }
}

@supports (transform: translate3d(0,0,0)) or (-webkit-transform: translate3d(0,0,0)) {
  .js {
    ::-webkit-input-placeholder {
      color: transparent;
    }

    ::-moz-placeholder {
      color: transparent;
    }

    :-ms-input-placeholder {
      color: transparent;
    }

    :-moz-placeholder {
      color: transparent;
    }

    .input__label {
      color: rgba(color(txt-dark), 0.75);
    }

    .input__label-content {
      position: relative;
      display: block;
      width: 100%;
      padding: 0;
      transform-origin: 0 0;
      transition: transform 0.3s, color 0.3s;
    }

    .input__field:focus + .input__label::after,
    .input--filled .input__label::after {
      background: color(main);
      transform: scale3d(1, 0.25, 1);
    }

    .input__field:focus + .input__label .input__label-content,
    .input--filled .input__label .input__label-content {
      color: color(main);
      font-weight: 700;
      transform: translate3d(0, 2em, 0) scale3d(0.8, 0.8, 1);
    }
  }
}

input[type="submit"] {
  background: color(main);
  border: 0;
  padding: 0.25em 0.5em;
  color: color(txt-light);

  &:hover {
    cursor: pointer;
  }
}
