// =======
// Objects
// =======
.o-emoji {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Segoe UI Emoji';
}

span[role=img][aria-label],
span[role=img][aria-label] {
  position: relative;
}

span[role=img][aria-label]:focus::after,
span[role=img][aria-label]:hover::after {
  font-size: 50%;
  font-family: $body-font;
  font-weight: 400;
  position: absolute;
  display: block;
  line-height: 1.2;
  content: attr(aria-label);
  z-index: 1;
  
  background: color(txt-dark);
  color: color(txt-light);
  padding: 0.25em;
  border: 1px solid color(txt-light);
  box-shadow: 2px 2px 4px color(txt-dark);
}

@media print {
  span[role=img][aria-label]::after {
    content: " (" attr(aria-label) ") ";
  }
}

.l-lang__en {
  span[role=img][aria-label]:focus::after,
  span[role=img][aria-label]:hover::after {
    bottom: 3.5em;
    left: 0;
  }
}

.l-lang__zh {
  span[role=img][aria-label]:focus::after,
  span[role=img][aria-label]:hover::after {
    left: 3.5em;
    top: 0;
    writing-mode: horizontal-tb;
  }
}
